@import url('../common/colors');
@import url('../common/layout');

.landing {
  padding-bottom: 1em;
}

.landing .video-hero {
  position: relative;
  width: 100%;
  height: 100%;
  color: var(--colorWhite);
}

.landing h1 span.leader {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  display: block;
  font-weight: 200;

  @media(min-width:1000px) {
    font-size: 2rem;
  }

}

.landing h2 {
  font-weight: normal;
  font-size: 2.5rem;

  @media(min-width:1000px) {
    font-size: 3rem;
  }

}

.landing h1 {
  font-size: 3rem;
  color: var(--colorWhite);
  font-weight: lighter;

  @media(min-width:1000px) {
    font-size: 5rem;
  }
}

.landing .down-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 3rem;
  transition: margin 0.4s ease;
  cursor: pointer;
}

.landing .down-arrow:hover {
  margin-bottom: 2.5rem;
  transition: margin 0.4s ease;
}

.landing .down-arrow svg:hover {
  stroke: var(--colorTeal);
  transition: stroke 0.4s ease;
}

.landing .down-arrow svg {
  stroke: var(--colorWhite);
  transition: stroke 0.4s ease;
}

.landing .intro {
  background: white;
  width: 100%;
  /*min-height: 1000px;*/
}

.landing .section {
  @apply --box;
  padding-top: 2em;
  padding-bottom: 1em;
  background-color: var(--colorWhite);
}

.landing .section .paper {
  @apply --box;
}

.landing .section p {
  text-align: left;
}

.landing .section h2 {
  text-align: center;
}

.landing .section h2 span {
  border-bottom: 3px solid var(--colorBlack);
}
