@import url('../common/colors');

.testimonial {
  padding: 0.5em 0;
  background-color: var(--colorWhite);
  text-align: left;
}

.testimonial .user-image .user-icon {
  display: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  max-width: 100%;
  background-size: contain;
  border-radius: 50%;
  background-repeat: no-repeat;
}

.testimonial .user-image span {
  display: block;
  font-size: 1.5rem;
  padding-bottom: 1em;
  text-align: center;
}

.testimonial .first {
  @media (min-width: 768px) {
    order: 1;
  }
}

.testimonial .second {
  @media (min-width: 768px) {
    order: 2;
  }
}
